@import "tailwindcss";
@import "tw-animate-css";
@import "./themes.css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: var(--font-geist-sans);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
